$primary-color: #97d8fe;
$secondary-color: #2ecc71;

body {
    background-color: $primary-color;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}


.card {
    background-color: white;
    width: 280px;
    height: 280px;
    border: 1px solid #ddd;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &:hover{
         transform: scale(1.05);
        }
    img {
        width: 49%;
        height: 150px;
        object-fit: cover;
        filter: hue-rotate(200deg);
    }
    }
    h1{
        font-size: 1.5em;
        margin: 10px 0;
    }
    p{
        color: #555;
        margin: 0 0 10px;
    }
    span{
        color: #648fa9;
    }
    a{
        display: block;
        padding: 15px 45px;
        background-color:#fd72a9;
        color: white;
        text-decoration: none;
        border-radius: 10px;
        font-size: larger;
    }
    a:hover{
        background-color: darken($color: #926376, $amount: 0);
    }



